[submodule "deps/h5-game"]
	path = deps/h5-game
	url = git@github.com:soolary/h5-game.git
[submodule "deps/agreement-web"]
	path = deps/agreement-web
	url = git@github.com:kingofake/agreement-web.git
	branch = master
